/* 列表样式 */
/* 减少行间距 */
.protyle-wysiwyg.protyle-wysiwyg [data-node-id] {
	margin-bottom: 0px;
	margin-top: 0px;
}
.protyle-wysiwyg [data-node-id].li:before {
	border-left: 0.5px solid var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li:hover:before {
	border-left: 0.5px solid var(--b3-theme-primary);
}
